@{
    ViewData["Title"] = "داشبورد";
}

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="sweet-box">
        <div class="row">
            <div class="col-lg-2">
                <i class="fa fa-users font-size-20"></i>
            </div>
            <div class="col-lg-10">
                <label class="font-size-15">تعداد کاربران : 0</label>
            </div>
        </div>
    </div>
</div>
