@using AcademyManagement.Application.DTOs.Role
@model AddOrEditRoleDTO


<label>نام نقش</label>
<input asp-for="Name" class="form-control" placeholder="لطفا نام نقش را وارد کنید">
<span asp-validation-for="Name" class="text-danger"></span>
